body {
    background-color: #030308;
    font-family: 'Courier New', Courier, monospace;
}

.title-container {
  text-align: center;
  margin: 80px 20px;
  color: white;
  font-size: 50px;

  animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-20vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}