body {
    background-color: #030308;
    font-family: 'Courier New', Courier, monospace;
}

.title-container {
  text-align: center;
  margin: 80px 20px;
  color: white;
  font-size: 50px;
  text-shadow: 0px 0px 5px white;

  animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-20vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.Welcome::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
