body {
    animation: fading 5s;
}

@keyframes fading {
  from { opacity: 0; }
  to { opacity: 1s; }
}

.Title {
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 90px;
    text-shadow: 0px 0px 5px white;
}

.Main {
    color: white;
    float: left;
    position: relative;
    top: 50px;
    left: 350px;
    font-size: 30px;
    text-shadow: 0px 0px 5px white;
}